<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat a Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body class="container">
		{{{ body }}}
	</body>
	<script>
		// Make sure we wait to attach our handlers until the DOM is fully loaded.
    $(function() {
      $(".create-form").on("submit", function(event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newBurger = {
          burger_name: $("#newBurg").val().trim(),
        };

        // Send the POST request.
        $.ajax("/api/burger", {
          type: "POST",
          data: newBurger
        }).then(
          function() {
            console.log("created new burger");
            // Reload the page to get the updated list
            location.reload();
          }
        );
      });

      $(".devour-burger").on("click", function(event) {
        var id = $(this).data("id");
        console.log(id);
        // Send the DELETE request.
        $.ajax("/api/burger/" + id, {
          type: "PUT"
        }).then(
          function() {
            console.log("deleted burger", id);
            // Reload the page to get the updated list
            location.reload();
          }
        );
      });
    });


	</script>
</html>